

#special{
	border-left: 2px solid black;
	border-right: 2px solid black;


}
#splash{
	border-top: 2px solid black;
	border-bottom: 2px solid black;

}
#specialist{
	border:2px solid black;
	
}
.hblue td:hover{
	background-color: steelblue;
	opacity: 0.7;
}
.hred td:hover{
	background: red;
	opacity: 0.7;
}
.blue{
	background: steelblue;
}
.red{
	background-color: #e63c2e;
}

.nohover{
    pointer-events: none;
}
.slidedown{
	height:25px;
	font-size: 25px;
}




body {
 background-image: linear-gradient(to right, rgba(255,0,0,0.1), rgba(255,0,0,0.6))
 
}
h1 {
	text-align: center;
	margin: auto;
	font-size: 40px;
}
table{
	margin: auto;
	margin-top: 12px;
}

td {
	height: 100px;
	width: 100px;
	transition: all 0.6s;

}
span{
	height:8px;
	text-align:center;
	display: block;
	width: 15%;
	min-width: 250px;
	font-size: 15px;
	color: #3eba4f;
	font-weight: 500;
	margin :8px auto;
  transition: all 0.8s;
}
button{
	margin: 15px auto;
	width: 10%;
	min-width: 100px;
	display: block;
	border:1.5px solid #4c4c4c ;
	color: red;
	background-color: transparent;
	border-radius: 15px 15px 15px 15px;
  padding: 1.5px 0px 1.5px 0px;
}
button::-moz-focus-inner {
  border: 0;
}


